a {
    text-decoration-line: none;
    color: rgb(83, 83, 83);
}

input {
    box-shadow: inset 0 0 0 #000;
}

li {
    display: inline;
}

.topnav {
    float: right;
}

#signIn {
    display: inline-block;
    padding: 10px;
    background-color: rgb(45, 125, 216);
    color: white;
}

#center {
    width: 400px;
    height: 500px;
    position: absolute;
    margin-top: 15%;
    margin-left: 42%;
}

#search {
    margin-left: -65px;
    width: 400px;
    height: 20px;
    border-radius: 10px;
    box-shadow: none;
    border: 0.1px solid rgb(212, 212, 212)
}

#centerButton {
    margin-top: 25px;
}

.centerButton {
    display: inline-block;
    padding: 10px;
    height: 20px;
    background-color: rgb(228, 228, 228);
}

#centerTip {
    padding: 25px;
    display: inline-block;
}

#bottomNav {
    position: absolute;
    width: 99%;
    margin-top: 40%;
    height: 75px;
    background-color: rgb(230, 230, 230);
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.bottomThing {
    border: 0.2px solid rgb(156, 156, 156)
}